{% extends 'admin-base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block breadcrumb %}{{ title }}{% endblock %}
{% block maintitle %}{{ title }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <form method="post" enctype="multipart/form-data" 
                action="{% if pk %}{% url 'events:events_update' pk=pk %}{% else %}{% url 'events:events_create' %}{% endif %}">
                {% csrf_token %}
                {% with messages=messages %}
                    {% include 'alert.html' %}
                {% endwith %}
                <div class="card mb-4">
                    <div class="card-header h5 py-3">Event Details</div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Event Title -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.title.id_for_label }}" class="form-label">Event Title:</label>
                                {{ form.title }}
                                {% include "parts/error.html" with errors=form.title.errors %}
                            </div>

                            <!-- Event Type -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.event_type.id_for_label }}" class="form-label">Event Type:</label>
                                {{ form.event_type }}
                                {% include "parts/error.html" with errors=form.event_type.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Description -->
                            <div class="col-md-12 mb-3">
                                <label for="{{ form.description.id_for_label }}" class="form-label">Description:</label>
                                {{ form.description }}
                                {% include "parts/error.html" with errors=form.description.errors %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="event_image" class="form-label">Event Banner Image</label>
                                {% include 'image-picker.html' with name=form.event_image.name image=form.event_image.value %}
                                {% include "parts/error.html" with errors=form.event_image.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Start Date -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.start_date.id_for_label }}" class="form-label">Start Date:</label>
                                {{ form.start_date }}
                                {% include "parts/error.html" with errors=form.start_date.errors %}
                            </div>

                            <!-- End Date -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.end_date.id_for_label }}" class="form-label">End Date:</label>
                                {{ form.end_date }}
                                {% include "parts/error.html" with errors=form.end_date.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Start Time -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.start_time.id_for_label }}" class="form-label">Start Time:</label>
                                {{ form.start_time }}
                                {% include "parts/error.html" with errors=form.start_time.errors %}
                            </div>

                            <!-- End Time -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.end_time.id_for_label }}" class="form-label">End Time:</label>
                                {{ form.end_time }}
                                {% include "parts/error.html" with errors=form.end_time.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Location -->
                            <div class="col-md-12 mb-3">
                                <label for="{{ form.location.id_for_label }}" class="form-label">Location:</label>
                                {{ form.location }}
                                {% include "parts/error.html" with errors=form.location.errors %}
                            </div>

                            <!-- Is Online -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.is_online.id_for_label }}" class="form-label">Is Online?</label>
                                {{ form.is_online }}
                                {% include "parts/error.html" with errors=form.is_online.errors %}
                            </div>

                            <!-- Registration Required -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.registration_required.id_for_label }}" class="form-label">Requires Registration?</label>
                                {{ form.registration_required }}
                                {% include "parts/error.html" with errors=form.registration_required.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Registration Link -->
                            <div class="col-md-12 mb-3">
                                <label for="{{ form.registration_link.id_for_label }}" class="form-label">Registration Link:</label>
                                {{ form.registration_link }}
                                {% include "parts/error.html" with errors=form.registration_link.errors %}
                            </div>

                            <!-- Contact Email -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.contact_email.id_for_label }}" class="form-label">Contact Email:</label>
                                {{ form.contact_email }}
                                {% include "parts/error.html" with errors=form.contact_email.errors %}
                            </div>

                            <!-- Max Participants -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.max_participants.id_for_label }}" class="form-label">Max Participants:</label>
                                {{ form.max_participants }}
                                {% include "parts/error.html" with errors=form.max_participants.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Is Active -->
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.is_active.id_for_label }}" class="form-label">Is Active?</label>
                                {{ form.is_active }}
                                {% include "parts/error.html" with errors=form.is_active.errors %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex mb-5 ms-3">
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                    <a href="{% url 'events:events' %}" class="btn btn-secondary mt-3">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
